{
  "hooks": {
    "pre-commit": "lint-staged"
  },
  "lint-staged": {
    "src/**/*.js": [
      "eslint --fix",
      "prettier --write",
      "git add"
    ],
    "src/**/*.ts": [
      "eslint --fix",
      "prettier --write",
      "git add"
    ]
  }
}