{
  "hooks": {
    "pre-commit": "lint-staged"
  },
  "lint-staged": {
    "**/*.js": [
      "eslint --fix",
      "prettier --write",
      "git add"
    ],
    "**/*.ts": [
      "eslint --ignore-path .gitignore --ext .ts src/ --fix",
      "prettier --write \"src/**/*.{js,jsx,ts,tsx,json,md}\""
    ]
  }
}